@font-face {
  font-family: "Dinofans";
  src: url("./fonts/Dinofans.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-BoldItalic.ttf");
}

.brown {
  color: rgba(181, 83, 48, 0.827)
}

.blue {
  color: rgb(0, 30, 255);
}

.green {
  color: rgb(3, 144, 3);
}

.red {
  color: rgba(255, 0, 0, 0.677);
}

.yellow {
  color: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body
  {
      width: 100%;
      height: 100%;
  }

body {
  font-family: "Roboto", sans-serif;
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Dinofans", Verdana;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #171e28;
  color:  rgba(181, 83, 48, 0.827);
  padding: 2rem;
  font-size: 2rem;
  text-wrap: nowrap;
}

.main {
  padding: 3rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#match-info {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.choices {
  display: flex;
  gap: 4rem;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  background-color:  #ffffffc4;
  border-radius: 3.5rem;
  border: solid black 0.3rem;
}

.user-img {
  width: 8rem;
  height: 9rem;
}

.score {
  margin: 1.8rem 0 3rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#result-info {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

#element-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ele-cont {
  display: flex;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

#element-btns button {
  background-color: #304057;
  padding: 1.4rem;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 0.4rem 0.2rem black;
}

.element-img {
  width: 7rem;
}

.footer {
  background-color: #171e28;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  font-size: 1.4rem;
  z-index: 2;
  top: 15%;
}

.tutorial-modal {
  width: 95vw;
}

.modal-content {
  background-image: url("./images/bg2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding-bottom: 2rem;
}

.modal-header {
  display: flex;
  width: 100%;
  background-color: #d37736;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  position: relative;
}

.modal-header h1 {
  margin: auto;
}

.close-btn {
  padding: 0.5% 0.6%;
  font-size: 60%;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: 2vw;
  align-self: center;
}

.content-header {
  margin-top: 1.5rem;
  color: #d37736;
  margin-bottom: 2rem;
}

.tutorial-text {
  color: black;
  padding: 0 1.25rem 2rem 1.25rem;
}

.tutorial-btn {
  color: white;
  background-color: #d37736;
  border: solid black 0.15rem;
  border-radius: 0.3rem;
  padding: 0.5rem 8rem;
  font-size: inherit;
}

#avatar-img {
  width: 50rem;
}

#avatar-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rules-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 2rem;
}

#rules-imgs {
  display: flex;
  gap: 2rem;
}

.rules-img {
  width: 15rem;
  max-width: 50%;
}

.rules-box {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  border: solid black 0.2rem;
}

.box-header {
  background-color: #d37736;
  text-align: center;
}

.box-content {
  color: black;
  padding: 1rem 2.5rem;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

#end-modal {
  width: 60rem;
  padding: 3rem;
  justify-content: space-evenly;
  background-color: #1F2937;
  border-radius: 3rem;  
  text-align: center;
  top: 15%;
}

#end-image {
  margin: 1.5rem 0 1.5rem 0;
  border: solid black 0.2rem;
  width: 95%;
}

#end-btn {
  font-size: inherit;
  color: white;
  background-color: #4e6482;
  border: solid black 0.2rem;
  box-shadow: black 0.2rem 0.5rem;
  border-radius: 0.3rem;
  padding: 1rem 10rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  z-index: 1;
}


.hidden {
  display: none;
}


#rules-gif {
  display: flex;
  justify-content: space-around;
  position: relative;
}

@media (max-width: 1000px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 5px;
  }
}