@font-face {
  font-family: "Dinofans";
  src: url("./fonts/Dinofans.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-BoldItalic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body
  {
      width: 100%;
      height: 100%;
      overflow-x: scroll;
  }

body {
  font-family: "Roboto", sans-serif;
  background-color: #1F2937;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Dinofans", Verdana;
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: #171e28;
  color:  rgba(181, 83, 48, 0.827);
  padding: 2rem;
  font-size: 1.7rem;
}

.brown {
  color: rgba(181, 83, 48, 0.827)
}

.blue {
  color: rgb(0, 30, 255);
}

.green {
  color: rgb(3, 144, 3);
}

.red {
  color: rgba(255, 0, 0, 0.677);
}

.yellow {
  color: yellow;
}

.main {
  padding: 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.choices {
  padding: 2rem;
  display: flex;
  gap: 6rem;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 14rem;
  background-color:  #ffffffc4;
  border-radius: 3rem;
  border: solid black 0.35rem;
}

.score {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

#element-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

#element-btns button {
  background-color: #304057;
  width: 12.5rem;
  height: 12.5rem;
  margin: 0.7rem;
  border-radius: 3rem;
}

.footer {
  background-color: #171e28;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer img {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  border-radius: 6.2rem;
  font-size: 2.5vmin;
  z-index: 2;
}

#end-modal {
  top: 25%;
  justify-content: space-evenly;
  background-color: #1F2937;
  height: 31rem;
  width: 50rem;
}

#end-image {
  border: solid black 0.4rem;
}

#end-button {
  font-size: 1rem;
  color: white;
  background-color: #4e6482;
  border: solid black 0.1rem;
  box-shadow: black 0.2rem 0.5rem;
  border-radius: 0.3rem;
  padding: 1rem 3rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  z-index: 1;
}

.tutorial-modal {
  top: 8%;
  background-image: url("./images/bg2.png");
  background-size: cover;
  width: 98vw;
  border-radius: 3rem;
  padding-bottom: 1.5rem;
}

.tutorial-header {
  display: flex;
  width: 100%;
  background-color: #d37736;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.tutorial-header h1 {
  margin: auto;
}  justify-content: ;

.close-btn {
  width: 1.5%;
  font-size: 1vw;
  border-radius: 100%;
  background-color: white;
  margin-right: 3vw;
  align-self: center;
}

.tutorial-header2 {
  padding-top: 1rem;
  color: #d37736;
  margin: auto;
}

.tutorial-text {
  color: black;
  padding: 0 1.25rem;
}

.hidden {
  display: none;
}

.tutorial-btn {
  font-size: 1rem;
  color: white;
  background-color: #d37736;
  border: solid black 0.15rem;
  border-radius: 0.3rem;
  padding: 0.5rem 2.5rem;
}

#avatar-img {
  width: 45vw;
}

#avatar-text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-bottom: 1.5rem;
}

#rules-gif {
  display: flex;
  justify-content: space-around;
  position: relative;
}

#rules-content {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 1rem;
  align-items: center;
}

#rules-txt-items {
  display: flex;
  align-items: center;
  max-width: 80%;
  gap: 3vw;
  padding: 2vh;
}

.rules-txt-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
}

#item1 {
  border: 0.8rem solid green;
}

#item2 {
  border: 0.8rem solid yellow;
}

.item-header {
}

.item-box{
  border: dashed black 6px;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.5rem;
}

#play-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-self: center;
  border: 0.5rem solid blue;
  outline: 0.5rem solid red;

}

#element-img {
  width: 12vw;
}

/* fazer div so pras "headers" do tutorial e outra pra caixa embaixo */ 