@font-face {
  font-family: "Dinofans";
  src: url("./fonts/Dinofans.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-BoldItalic.ttf");
}

.brown {
  color: rgba(181, 83, 48, 0.827)
}

.blue {
  color: rgb(0, 30, 255);
}

.green {
  color: rgb(3, 144, 3);
}

.red {
  color: rgba(255, 0, 0, 0.677);
}

.yellow {
  color: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body
  {
      width: 100%;
      height: 100%;
  }

body {
  font-family: "Roboto", sans-serif;
  background-color: #1F2937;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Dinofans", Verdana;
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: #171e28;
  color:  rgba(181, 83, 48, 0.827);
  padding: 3vw;
  font-size: 2vw;
}

.main {
  padding: 3vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#match-info {
  font-size: 1.8vw;
}

.choices {
  padding: 2vw;
  display: flex;
  gap: 4vw;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 13vw;
  background-color:  #ffffffc4;
  border-radius: 3vw;
  border: solid black 0.3vw;
}

.img-container img {
  width: 8.5vw;
  height: 9.5vw;
}

.score {
  margin: 1.5vw 0 2vw 0;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

#result-info {
  font-size: 2.2vw;
  padding: 1vw 0;
}

#element-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85vw;
}

.ele-cont {
  display: flex;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

#element-btns img {
  width: 10vw;
}

#element-btns button {
  background-color: #304057;
  padding: 4vw 4vw;
  margin: 0.5vw;
  border-radius: 4vw;
}

.footer {
  background-color: #171e28;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.7vw;
  font-size: 1.5vw;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer img {
  width: 2.5vw;
  height: 2.5vw;
  margin-left: 1.5vw;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  font-size: 2.5vmin;
  z-index: 2;
  top: 15vw;
}

.tutorial-modal {
  width: 95vw;
}

.modal-content {
  background-image: url("./images/bg2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding-bottom: 2vw;
}

.modal-header {
  display: flex;
  width: 100%;
  background-color: #d37736;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  position: relative;
}

.modal-header h1 {
  margin: auto;
}

.close-btn {
  padding: 0.5% 0.6%;
  font-size: 60%;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: 2vw;
  align-self: center;
}

.content-header {
  padding-top: 1.5vw;
  color: #d37736;
}

.tutorial-text {
  color: black;
  padding: 0 1.25rem 2vw 1.25rem;
}

.tutorial-btn {
  color: white;
  background-color: #d37736;
  border: solid black 0.2vw;
  border-radius: 0.3rem;
  padding: 0.8vh 6vw;
  font-size: inherit;
}

#avatar-img {
  width: 45vw;
}

#avatar-text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#rules-header {
  margin-bottom: 1vw;
}

.rules-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
  gap: 1.5vw;
}

#rules-imgs {
  display: flex;
  gap: 2vw;
}

.rules-img {
  width: 15vw;
  max-width: 50%;
}

.rules-box {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  border: solid black 0.3vw;
}

.box-header {
  background-color: #d37736;
  text-align: center;
}

.box-content {
  color: black;
  padding: 1vw 2.5vw;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 0.5vw;
}

#end-modal {
  width: 40vw;
  padding: 3vw;
  justify-content: space-evenly;
  background-color: #1F2937;
  border-radius: 3rem;  
  text-align: center;
  top: 25vw;
}

#end-image {
  margin: 1.5vw 0 1.5vw 0;
  border: solid black 0.2rem;
  width: 95%;
}

#end-btn {
  font-size: inherit;
  color: white;
  background-color: #4e6482;
  border: solid black 0.2vw;
  box-shadow: black 0.2vw 0.5vw;
  border-radius: 0.3rem;
  padding: 1vw 8vw;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  z-index: 1;
}


.hidden {
  display: none;
}


#rules-gif {
  display: flex;
  justify-content: space-around;
  position: relative;
}


/*
#rules-txt-items {
  display: flex;
  align-items: center;
  max-width: 80%;
  gap: 3vw;
  padding: 2vh;
}

.rules-txt-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
}

#item1 {
  border: 0.8rem solid green;
}

#item2 {
  border: 0.8rem solid yellow;
}

.item-header {
}

.item-box{
  border: dashed black 6px;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.5rem;
}

#play-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-self: center;
  border: 0.5rem solid blue;
  outline: 0.5rem solid red;

}

#element-img {
  width: 12vw;
}

/* fazer div so pras "headers" do tutorial e outra pra caixa embaixo */ 

*/
